<div *ngIf="jsonTestAsync$ | async as jsonTest">
  <h1>{{jsonTest.title}}</h1>
</div>

<div *ngIf="jsonTestSync as jsonTestSync">
  <h1 *ngFor="let item of jsonTestSync.test">{{item}}</h1>
</div>

<div class="system-icon"></div>

<form (ngSubmit)="submitForm()" *ngIf="user$ | async as user">
  <input type="text" name="persona" [(ngModel)]="user.persona" />
  <input type="text" name="sector" [(ngModel)]="user.sector" />
  <input type="text" name="turnover" [(ngModel)]="user.turnover" />
  <button type="submit">Submit</button>
</form>

<div *ngIf="user$ | async as user">


  <ul>
    <li>Persona: {{user.persona}}</li>
    <li>Sector: {{user.sector}}</li>
    <li>Turnover: {{user.turnover}}</li>
  </ul>
</div>

<div class="home-icon"></div>

<h1>{{title}}</h1>
<button (click)="test()">Test</button>
Persona: {{persona$ | async}}
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
